@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    /* background-color: rgb(53, 221, 62); */
    background-color: rgb(90, 90, 78);
    /* background-color: rgb(127, 255, 165); */
    display: flex;
    width: 70%;
    margin: 0 auto;
}
.allnews{
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: white;
    border-radius: 10px;
}
.eachnews{
    padding: 15px;
    margin: 20px 0;
    border-bottom: 15px solid rgb(15, 218, 233);
    border-radius: 16px;
    width: 100%;
}
.heading{
    color: white;
    margin-top: 20px;
    text-align: center;
    font-size: 40px;
    
}
.title{
    font-size: 27px;
    padding-bottom: 10px;
    font-family: 'Ubuntu', sans-serif;
}
.description{
    padding: 10px 0;
    margin-bottom: 10px;
    line-height: 25px;
    font-size: 20px;
    font-family: 'Ubuntu', sans-serif;
}
.source{
    font-size: 18px;
    font-style: italic;
}
